<div class="container">
  <h1 class="heading">Sign Up</h1>
  <form #signupForm="ngForm" (ngSubmit)="signup()" class="form-container">
    <mat-form-field class="form-group">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="username" placeholder="Email" [(ngModel)]="username" required email>
      <mat-error *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)">
        Please enter a valid email address.
    </mat-error>
      
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="password" required minlength="8">
      <mat-error *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
        Password must contain at least 8 characters.
    </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="button" [disabled]="!signupForm.form.valid">SIGN UP</button>
  </form>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
